-# Hide header in map view if mobile
%header.header
  .header-wrapper
    .header-right
      = link_to t("homepage.index.post_new_listing"), new_listing_path, :id => "new-listing-link" , :class => "new-listing-link vA_h_simulator"

    .header-right.visible-tablet
      #header-menu-desktop-anchor.header-menu-container.toggle.hidden{data: {toggle: '#header-menu-toggle-menu', 'toggle-position' => 'absolute'}}

    - if logged_in
      .header-right.no_margin_va
        = render :partial => "layouts/header_anchors", locals: {avatar_url: avatar_url, current_user_name: current_user_name, icons: icons}
        = render :partial => "layouts/header_user_menu", locals: {unread_count: unread_count, inbox_path: inbox_path, profile_path: profile_path, manage_listings_path: manage_listings_path, settings_path: settings_path, logout_path: logout_path, icons: icons}

      = render :partial => "layouts/header_right_visible_tablet", locals: {unread_count: unread_count, inbox_path: inbox_path, icons: icons}

    - if available_locales.size > 1
      .header-right.visible-desktop
        #header-locales-menu.toggle.header-hover{data: {toggle: '#header-locales-toggle-menu', 'toggle-position' => 'absolute'}}
          %span.header-text-link
            = current_locale_name
            = icon_map_tag(icons, "dropdown", ["icon-dropdown"])
        #header-locales-toggle-menu.toggle-menu.header-toggle-menu-language.hidden
          = render :partial => "layouts/locale_select", :collection => available_locales, :as => :loc_array, locals: {return_after_locale_change: return_after_locale_change}

    / - unless logged_in
    /   .header-right
    /     = link_to sign_up_path, class: "header-text-link header-hover" do
    /       = t("header.signup")
    /   .header-right
    /     = link_to login_path, class: "header-text-link header-hover", id: "header-login-link" do
    /       = t("header.login")

    .header-left.hidden-tablet
      .header-menu-container.toggle.hidden{data: {toggle: '#header-menu-toggle-menu', 'toggle-position' => 'absolute'}}
        #header-menu-mobile-anchor.header-menu-toggle-container.toggle-header-container.nav-header
          = icon_map_tag(icons, "rows", ["header-menu-icon"])
          %span.visible-tablet-inline.btn-menu
            = t("header.menu")

    = render :partial => "layouts/header_menu", locals: { return_after_locale_change: return_after_locale_change, available_locales: available_locales, icons: icons}

    / -#
    /   If necessary, the buttons will overlap with the logo. Buttons should be on top, that's
    /   keep the logo here after buttons
    / .header-left.header-logo-container
    /   = link_to landing_page_path, :class => "header-logo", :id => "header-logo" do
    /     - if @current_community.logo.present?
    /       %i.header-square-logo.hidden-tablet
    /         -# Logo is here, it's a CSS background
    /     - else
    /       %span.header-square-logo-text.hidden-tablet
    /         = @current_community.name(I18n.locale)[0]
    /     - if @current_community.wide_logo.present?
    /       %i.header-wide-logo.visible-tablet
    /         -# Logo is here, it's a CSS background
    /     - else
    /       %span.header-wide-logo-text.visible-tablet
    /         = @current_community.name(I18n.locale)




:css
  .vA_h_simulator{
    background: #00a26c; !important  
  }
  .header.header-inbox-link{
    margin: -2px 0 0; !important
  }  
  .header.header-text-link {
    height: auto;
    line-height: 27px;
  }
  .va_h_image{
    height: 31px;
    margin-top: 13px;
  }
  .no_margin_va{
    margin-top: -15px;
  }


















/ -# Hide header in map view if mobile
/ %header.header
/   .header-wrapper
/     .header-right
/       = link_to t("homepage.index.post_new_listing"), new_listing_path, :id => "new-listing-link" #, :class => "new-listing-link"

/     .header-right.visible-tablet
/       #header-menu-desktop-anchor.header-menu-container.toggle.hidden{data: {toggle: '#header-menu-toggle-menu', 'toggle-position' => 'absolute'}}

/     - if logged_in
/       = render :partial => "layouts/header_anchors", locals: {avatar_url: avatar_url, current_user_name: current_user_name, icons: icons}
/       = render :partial => "layouts/header_user_menu", locals: {unread_count: unread_count, inbox_path: inbox_path, profile_path: profile_path, manage_listings_path: manage_listings_path, settings_path: settings_path, logout_path: logout_path, icons: icons}

/       = render :partial => "layouts/header_right_visible_tablet", locals: {unread_count: unread_count, inbox_path: inbox_path, icons: icons}

/     - if available_locales.size > 1
/       .header-right.visible-desktop
/         #header-locales-menu.toggle.header-hover{data: {toggle: '#header-locales-toggle-menu', 'toggle-position' => 'absolute'}}
/           %span.header-text-link
/             = current_locale_name
/             = icon_map_tag(icons, "dropdown", ["icon-dropdown"])
/         #header-locales-toggle-menu.toggle-menu.header-toggle-menu-language.hidden
/           = render :partial => "layouts/locale_select", :collection => available_locales, :as => :loc_array, locals: {return_after_locale_change: return_after_locale_change}

/     - unless logged_in
/       Hi &nbsp&nbsp
/       = link_to login_path, class: "", id: "header-login-link" do
/         = t("header.login")
/       = link_to sign_up_path, class: "" do
/         = t("header.signup")


/     .header-left.hidden-tablet
/       .header-menu-container.toggle.hidden{data: {toggle: '#header-menu-toggle-menu', 'toggle-position' => 'absolute'}}
/         #header-menu-mobile-anchor
/           = icon_map_tag(icons, "rows", ["header-menu-icon"])
/           %span
/             = t("header.menu")

/     = render :partial => "layouts/header_menu", locals: { return_after_locale_change: return_after_locale_change, available_locales: available_locales, icons: icons}

/     / -#
/     /   If necessary, the buttons will overlap with the logo. Buttons should be on top, that's
/     /   keep the logo here after buttons
/     / .header-left.header-logo-container
/     /   = link_to landing_page_path, :class => "header-logo", :id => "header-logo" do
/     /     - if @current_community.logo.present?
/     /       %i.header-square-logo.hidden-tablet
/     /         -# Logo is here, it's a CSS background
/     /     - else
/     /       %span.header-square-logo-text.hidden-tablet
/     /         = @current_community.name(I18n.locale)[0]
/     /     - if @current_community.wide_logo.present?
/     /       %i.header-wide-logo.visible-tablet
/     /         -# Logo is here, it's a CSS background
/     /     - else
/     /       %span.header-wide-logo-text.visible-tablet
/     /         = @current_community.name(I18n.locale)




:css
  .nav-header:hover,
  .nav-header {
    background: none;
    height: auto;
    line-height: 17px;
    padding: 0;
     background: none !important;

  }
  .header-menu-container {
    display: block;
    padding: 0;
    height: auto;
  }
  .btn-menu {
    background: #eee;
    color: #000;
    padding: 3px 10px;
    margin: 0 2px;
    border: 1px solid #000;
    color: #000;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
   width: 126px !Important;
    display: inline-block !Important;

  }
  .new-listing-link:hover {
    background: none;
    color: #000;
  }
  .new-listing-link {
    background: #eee;
    color: #000;
    padding: 3px 10px;
    margin: 0 2px;
    border: 1px solid #000;
    color: #000;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    height: auto;
  }
  .header{
    height: 37px; important
  }
  .toggle.toggled{
    background: #eee !important;
    color: white !important;
    border-color: #474747;
  }
  .toggle-menu{
    background: #eee !important;
    border-radius: 7px !important;
  }
  .toggle-menu a{
    color: black !important;
  }
  .header-menu-toggle-container:active {
    background: #eee !important;
  }
  .toggled.header-menu-toggle-container {
    color: white;
    background-color: #eee !important;
  }
  .header-menu-toggle-container:active {
    background: none !important;
  }